{% extends 'project.html'%}
{%block carousel%}
<body>
    <header class="w3-container w3-xlarge">
        <div style="height:20px;">
        </div>
     <p class="w3-right">
      <a href="login" style="color:{{login_color}};"><svg xmlns="http://www.w3.org/2000/svg" width="27" height="32" fill="currentColor"  class="bi bi-person-fill w3-margin-right"  viewBox="0 0 16 16">
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/></svg></a>
      <i class="fa fa-shopping-cart w3-margin-right"></i>
      <i class="fa fa-search"></i>
     </p>
    </header>
</body>
{%endblock%}